<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Contact Us</title>
    <link rel="stylesheet" href="/css/contact.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
  </head>
  <body>
    <div class="container">
      <aside class="sidebar">
        <ul>
         <li onclick="window.location.href='/'">
    <a>Home</a>
  </li>
  <li onclick="window.location.href='/about'">
    <a>About</a>
        </ul>
      </aside>

      <main class="main-content">
        <div class="contact-us">
          <div class="title">
            <h1>Contact Us</h1>
          </div>
          <form class="contact-form" id="contact-form" action="/contact" method="GET">
            <div class="form-items">
              
              <input
                type="text"
                name="name"
                id="name"
                class="input"
                placeholder="Your Name"
                required
              />
            </div>
            <div class="form-items">
              
              <input
                type="email"
                name="email"
                id="email"
                class="input"
                placeholder="Your Email"
                required
              />
            </div>
            <div class="form-items">
              
              <input
                type="tel"
                name="phone"
                id="phone"
                class="input"
                placeholder="Your Phone Number"
              />
            </div>
            <div class="form-items">
              
              <textarea
                name="message"
                class="input message"
                id="message"
                placeholder="Your Message"
                required
              ></textarea>
            </div>
            <button type="submit" class="btn">
              Submit <i class="fas fa-paper-plane"></i>
            </button>
          </form>
          <div class="social-icons">
            <div class="facebook">
              <a href="#">
                <i class="fab fa-facebook-f"></i>
              </a>
            </div>
            <div class="twitter">
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
            </div>
            <div class="google">
              <a href="#">
                <i class="fab fa-google"></i>
              </a>
            </div>
          </div>
        </div>
      </main>
    </div>
    <script src="https://cdn.emailjs.com/sdk/2.3.2/email.min.js"></script>
    <script>(function() {
	emailjs.init('SCRcLmJUDkvViQtLx');
var form = document.querySelector('#contact-form');
console.log(form);
	form.addEventListener('submit', function(event) {
		event.preventDefault();
		// Get input values from the form
		var name = document.getElementById('name').value;
		var email = document.getElementById('email').value;
    var phone = document.getElementById('phone').value;
		var message = document.getElementById('message').value;


		// Construct the email parameters
		var params = {
			to_name: 'Akash Antony',
			from_name: name,
			from_email: email,
      from_phone: phone,
      message_html: message
		};

		// Send the email
		emailjs.send('service_tikypbl', 'template_rqadejd', params)
			.then(function(response) {
				alert('Your message has been sent!');
				document.getElementById('contact-form').reset();
			}, function(error) {
				alert('Oops, something went wrong. Please try again later.');
				console.log(error);
			});
	});
})();
</script>
  </body>
</html>
