<!DOCTYPE html>
<html lang="en">
<head>
    <title>Webpage Design</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
</head>
<body>

    <div class="main">
        <div class="navbar">
            <div class="icon">
                <img class="logoimg" src="/css/images/logo.png" alt="logo">
                <div class="name">
                <h2 class="logo"><i>Home</i></h2>
                <h2 class="logo1"><i>Doc</i></h2>
            </div>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="/#">HOME</a></li>
                    <li><a href="/about">ABOUT</a></li>
                    <li><a href="/contact">CONTACT</a></li>
                </ul>
            </div>

        </div> 
        <div class="content">
           <h1 class="animated-text">FIND A DOCTOR IN <br>YOUR LOCALITY</h1>

                <button class="cn" onclick="window.location.href = 'login';"><a href="#">Login</a></button>
                <button class="cb" onclick="window.location.href = 'register';"><a href="#">Sign Up</a></button>

                </div>
                    </div>
                </div>
        </div>
    </div>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>
</html>
