<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/patientview.css">
    <title>Doctors Appointments</title>
</head>
<body>
    <style>
        body{
         background-image: url("/css/images/home6.jpg");
         background-size: 100% 100%;
         background-attachment: fixed;
         background-repeat: no-repeat;
        }
    </style> 
      
    <div class="sidebar">
        <img src="/css/images/profile6.png" alt="Profile Photo">
        <h3>{{name}}</h3>
        <ul>
            <li><a href="#">My Appointments</a></li>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>

    <div class="appointments">
        <h2>Upcoming Appointments</h2>
         <ul>
      {{#each appointments}}
        <li>{{this.date}} {{this.time}} - {{this.doctorName}}</li>
      {{/each}}
    </ul>
    </div>

</body>
</html>