*{
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

body{
  background-image: url("images/homebg.png");
  background-size: 100% 100%;  
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.contact-us{
  width: 100%;
  max-width: 500px;
  margin: 100px auto;
  border-radius: 30px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 20px;
}

.title h1{
  color: #f2e6e6;
  letter-spacing: 5px;
  margin: 30px auto;
  text-align: center;
}

.form{
  padding: 30px;
}

.form-items{
  display: flex;
  flex-direction: column;
}

.form-items .input{
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 30px;
  outline: none;
  border: none;
  background: #ebeef1;
  font-size: 16px;
}

.form-items .input.message{
  height: 150px;
  resize: none;
}

.btn{
  background: #0b246d;
  color: #fff;
  padding: 12px;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover{
  background: rgb(50, 100, 218);
}

.btn .fas{
  margin-left: 10px;
  font-size: 12px;
}

.form-items .fas{
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #9a99aa;
}

.social-icons{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.social-icons div{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 10px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
}

.social-icons div:hover{
  transform: translateY(-5px);
}

.social-icons div .fab{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
}

.social-icons div.facebook{
  background: #5178d9;
}

.social-icons div.twitter{
  background: #41caf6;
}

.social-icons div.google{
  background: #fb4f4f;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: rgba(49, 45, 45,0.5);
  color: #fff;
}

.sidebar img {
  display: block;
  margin: 0 auto;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: relative;
  top: 20px;
}
.sidebar h3 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  top: 50px;
  font-size: 20px;
  text-align: center;
  row-gap: 7px;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px;
  border-radius: 10px;
}

.sidebar ul li:hover {
  background: rgb(61, 70, 252);
  transition: all 0.3s ease-in-out;
}