body {
  background-image: url("/css/images/home6.jpg");
  background-size: 100% 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: rgb(5, 7, 100);
  color: #fff; 
}

.sidebar img {
  display: block;
  margin: 0 auto;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: relative;
  top: 25px;
}

.sidebar h3 {
  text-align: center;
  margin-top: 35px;
  margin-bottom: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;

}


.sidebar ul {
  list-style: none;
  position:relative;
  top:25px;
  font-size:20px;
  text-align: center;
  line-height: 2.5;
  text-align: center;
  right:30px;
}

.sidebar li {
  margin-bottom: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 210px;
}

.sidebar li a {
  color: #fff;
  text-decoration: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.sidebar ul li:hover{
  background: rgb(235, 234, 238);
  border-radius: 40px;
}
.sidebar ul li:hover a {
  color: #120672; /* Replace with your desired color */
}
.appointments {
  margin-left: 300px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
}


  table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 20px auto;
  }
  
  td, th {
    border: 2px solid #f1f0f5;
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #07113a;
    font-weight: bold;
    color: #fff;
  }
  

  
  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }
  
    table caption {
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    table td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

.appointments h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.appointments table {
  width: 100%;
  border-collapse: collapse;
}

.appointments th,
.appointments td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-family:'Times New Roman', Times, serif;
  font-weight: bold;
}

.appointments th {
  background-color: #17076e;
}

.appointments tbody tr:hover {
  background-color: #f5f5f56d;
}

.cancel-button {
  background-color: rgb(221, 17, 17);
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.cancel-button:hover {
  background-color: rgb(255, 0, 0);
}

