.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: rgb(5, 7, 100);
  color: #fff; 
  padding:20px;
}

.sidebar img {
  display: block;
  margin: 0 auto;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: relative;
  top: 20px;
}

.sidebar h3 {
  text-align: center;
  margin-top: 35px;
  margin-bottom: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;

}


.sidebar ul {
  list-style: none;
  position:relative;
  top:50px;
  font-size:20px;
  text-align: center;
  line-height: 2.5;
}

.sidebar li {
  margin-bottom: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.sidebar li a {
  color: #fff;
  text-decoration: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}
.sidebar ul li:hover{
  background: rgb(235, 234, 238);
  border-radius: 40px;

}
.sidebar ul li:hover a {
  color: #120672; /* Replace with your desired color */
}
.main-content {
  margin-left: 250px;
  padding: 20px;
}
* {
  outline: none;
}

html,
body {
  height: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  background-color: #193db5;
}






@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  background: #644bff;
  padding: 0 20px;
}
::selection{
  color: #fff;
  background: #664AFF;
}
.wrapper{
  max-width: 450px;
  margin: 150px auto;
}
.wrapper .search-input{
  background: #fff;
  width: 100%;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
}
.search-input input{
  height: 55px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 60px 0 20px;
  font-size: 18px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}
.search-input.active input{
  border-radius: 5px 5px 0 0;
}
.search-input .autocom-box{
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 280px;
  overflow-y: auto;
}
.search-input.active .autocom-box{
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}
.autocom-box li{
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;
}
.search-input.active .autocom-box li{
  display: block;
}
.autocom-box li:hover{
  background: #efefef;
}
.search-input .icon{
  position: absolute;
  right: 0px;
  top: 0px;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  color: #644bff;
  cursor: pointer;
}
.search-input input::placeholder {
  color: #999; /* Placeholder text color */
  font-style: italic; /* Placeholder text style */
}

