*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background-image:url("images/homebg.png");
    background-position: center;
    background-size: cover;
    height: 100vh;
    
}

.navbar{
    width: 1200px;
    height: 75px;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
    display:flex;
    flex-direction:row;
    padding-left: 10px;
    margin-right: 00px;
}
.logoimg{
    padding-top: 20px;
    padding-left: 10px;
    height: 60px;

}
.name
{
    display:block;
    flex-direction: column;
    padding: 0px;    
    margin: 0px;
    border: 0 !important;
    margin-top: 0px;
    margin-left: 0px;
    outline: none;
}

.logo{
    color: #121342;
    font-size: 35px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px;
    margin-bottom: 0px;
}
.logo1{
    color:white;
    font-size: 35px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 20px;
    float: left;
    margin-top: -12px
}

.menu{
    width: 400px;
    float: right;
    height: 70px;
    position: relative;
    left: 300px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color:#121342 ;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color:#fff;
}


.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height: 40px;
    background: #ff7200;
    border: 2px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}
.btn:hover{
    color: #000;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #FAF1F1;
    position: relative;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1{
    font-family:'Roboto';
    font-size: 60px;
    padding-left: 20px;
    margin-top: 2%;
    letter-spacing: 2px;
    opacity: 0.8;
    padding-top: 140px;
    text-align: left;
    position:relative;
    top: 30px;
}

.content .cn{
    width: 160px;
    height: 60px;
    background-color: white;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 32px;
    cursor: pointer;
    transition: .4s ease;
    opacity: 0.5;
    position: relative;
    top: 100px;
    right: 550px;
}

.content .cn a{
    text-decoration: none;
    color:#000;
    transition: .3s ease;
    font-weight: 550;
}

.cn:hover{
    background-color: #fff;
    opacity: 1;
}
.content .cb{
    width: 160px;
    height: 60px;
    background-color: white;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 32px;
    cursor: pointer;
    transition: .4s ease;
    opacity: 0.5;
    position: relative;
    top: 100px;
    right: 550px;
    padding: 10px 20px;
  
    
}
.content .cb a{
    text-decoration: none;
    font-weight:600;
    color:black;
    transition: .3s ease;
    
}
.cb:hover{
    background-color: #fff;
    opacity: 1;
}

input:focus::placeholder{
    color: #fff;
    font-family: Arial;
}
:focus{
    color: white;
}
.btnn{
    width: 240px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}
.btnn:hover{
    background: #fff;
    color: #ff7200;
}
.btnn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}
.form .link a{
    text-decoration: none;
    color: #ff7200;
}
.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}
.icons a{
    text-decoration: none;
    color: #fff;
}
.icons ion-icon{
    color: #fff;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.3s ease;
}
.icons ion-icon:hover{
    color: #ff7200;
}
.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   
  }
.container {
    width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    position: relative ;
    top: 200px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.3)
   }
   
   form {
    display: flex;
    flex-direction: column;
   }
   
   h2 {
    text-align: center;
    margin-bottom: 20px;
    color: aliceblue;
   }
   
   label {
    font-weight: bold;
    margin-bottom: 5px;
    color: aliceblue;
   }
   
   input[type="text"],
   input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    
    
   }
   input:focus::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(255, 255, 255);
    opacity: 0.8; /* Firefox */
    
  }
  :focus{
    color:white;
  }
   input[type="submit"] {
    background-color: #21449e;
    color: rgb(255, 255, 255);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
   }
   
   input[type="submit"]:hover {
    background-color: #3a5adc;
   }
   body {
    margin: 0;
    padding: 0;
    background-image: url("images/homebg.png");
    background-size: cover;
    background-position: center;
  }
  
  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   
  }
  
  .form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: rgb(251, 251, 251);
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 3px;
    border: none;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.5);
   
  }
  
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus {
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    
  }
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(2, 1, 1);
    opacity: 0.7; /* Firefox */
  }
  
  button[type="submit"] {
    background-color: #23279c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #524fed;
  }
  .error-message {
    color: red;
    position: relative;
    top: 5px;
}


.animated-text {
    position: relative;
    display: inline-block;
    animation: wave-motion 2s linear infinite, top-down-motion 4s ease-in-out infinite;
}

@keyframes wave-motion {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes top-down-motion {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(15px);
    }
}
.error {
    color: red;
    position:relative;
    top: 10px;
  }